* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #1E7EE8;
    max-height: 180px;
    border-radius: 0  0 30px 30px;
    margin-bottom: 59px;
}

.header-block {
    display: flex;
    position: relative;
    justify-content: center;
    padding-top: 50px;
    min-width: 180px;
    right: 25px;
}

.header-block-icon {
    display: block;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    width: 155px;
    height: 155px;
    z-index: 100;
}

.header-block-text {
    max-width: 242px;
    margin-left: 16px;
    z-index: 1;
}

.header-block-h1 {
    line-height: 21px;
    margin-top: 39px;
    font-size: Inter;
    font-size: 18px;
    color: white;
}

.nav-line {
    margin: 10px 0px;
}

.header-block-p {
    color: rgb(255, 255, 255);
    font-size: Inter;
    font-size: 12px;
    color: white;
    margin-top: 1px;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 19px;
    margin-right: 19px;
}

.nav-content-text {
    color: rgb(30, 126, 232);
    font-family: Inter;
    font-size: 18px;
    font-weight: 900;
    line-height: 21px;
}

.nav-content-img {
    margin-left: auto;
    width: 15px;
    height: 21px;
}

.nav-line {
    border: 1px solid rgb(17, 63, 175);
    margin-left: 19px;
    margin-right: 19px;
}

footer {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    margin-top: 100%;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 23px;
    padding-right: 23px;
    display: flex;
    justify-content: space-around;
    border-radius: 30px 30px 0px 0px;
    background: rgb(30, 126, 232);
    max-height: 66px;
}


